<header >
    <div class="contenedor ld ld-float-rtl-in">
       <div class="contenedor_texto">
          <div class="texto">
           <h1 class="datos">DATOS PERSONALES:</h1>  
           <h1 class="nombre">Fernando Daniel Quispe</h1>
           <h2 class="profesion">Estudiante UTN - FRA</h2>
          </div>
      </div>

    </div>
</header>
<section class="main ">
  <section class="acerca_de ">
    <div class="contenedor ld ld-blur-in">
          <div class="foto ld ld-vortex-in">
              <img class="img" src="./assets/images/fdq.jpg" width="250" height="250" alt="Fernando">
          </div>
          <div id="quien" class="texto " >
              <p></p>
              <h3 class="titulo">Soy Fernando Daniel Quispe, alumno de la UTN FRA</h3>
              <p>Cursando actualmente la materia de Laboratorio IV con los profesores: Octavio Villegas, Ezequiel Oggioni y Franco Lippi. </p>
          </div>
          <hr>
          <div id="miJuego"class="texto">
            <h3 class="titulo">Descripción del juego que desarrolle: Simon Dice</h3>
            <p>El juego se trata de que el usuario logre repetir la secuencia de los colores que el equipo "Simón" propone. Comienza con un color y van sumando de a un color a medida que se avanza. Mientras mas avancemos en la secuencia de colores, mayor cantidad de puntos sumará. Cuando el usuario se confunda de color finalizara el juego, y se podrá iniciar uno nuevo.</p>
        </div>
        <hr>
    </div>
  </section>

</section>