<div id="id01">
    <form  class="form-signin modal-content" style="margin-top: 3rem;">
        <h1 class="h3 mb-3 font-weight-normal">Inicio de Sesión</h1>
        <div style="justify-content: center; display:flex; flex-direction: row; flex-wrap: wrap; margin-bottom: 2rem;">
            
          </div>
          
          <div  style="position: absolute; justify-content: center; width:100%; z-index: 999;" class="row"><img src="../../../assets/imagenes/spiner.gif" alt=""></div>
          
          <div class="container"> 
           <label ><b>Email</b></label>
            <input  class="form-control"  id="email"   type="email" placeholder="Email"   name="uname" required>
            <label><b>Clave</b></label>
            <input  class="form-control"    type="password" placeholder="Clave" name="psw" required>
             
            <div class="divBoton">
                <input type="button" (click)="redirigir()"  value="Aceptar">
    
            </div>
    
            <br>
           
          </div>
    </form>
    </div>