<div id="id01">
    <form  class="form-signin modal-content" style="margin-top: 3rem;">
        <h1 class="h3 mb-3 font-weight-normal">REGISTRO</h1>
        <div style="justify-content: center; display:flex; flex-direction: row; flex-wrap: wrap; margin-bottom: 2rem;">
            
          </div>
          
          <div  style="position: absolute; justify-content: center; width:100%; z-index: 999;" class="row"><img src="../../../assets/imagenes/spiner.gif" alt=""></div>
          
          <div class="container"> 
           <label ><b>Email</b></label>
            <input  class="form-control"  id="email"   type="email" placeholder="Ingrese su email" >
            <label><b>Password</b></label>
            <input  class="form-control"    type="password" placeholder="Ingrese su password" >
          
            <button class="btn btn-primary btn-block m-2" >Registrarse</button>
           
          </div>
    </form>
    </div>
